@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h1 id="title" class="text-center">@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
     
    <p>
        Inspired by my passion for being a Google Local Guide and sharing reviews and photos of various locations,
        I aim to develop a Local Guide web app. This app will serve as a platform for users to discover and explore local attractions, 
        restaurants, events, and services through the eyes of fellow community members. Users can contribute by adding new locations, 
        writing reviews, uploading photos, and sharing their experiences. The app will emphasize community engagement and collaboration, 
        empowering users to make informed decisions about where to go and what to do based on authentic, user-generated content.
    </p>
</main>