@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="container mt-5">
        <h2>@ViewBag.Title</h2>
        <p>We appreciate your feedback and are here to help with any questions you may have.</p>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fas fa-phone"></i> Phone: <span id="phoneNumber">+1 123-456-7890</span>
            </li>
            <li class="list-group-item">
                <i class="fas fa-envelope"></i> Email: <a href="mailto:support@localguidecms.com">support@localguidecms.com</a>
            </li>
        </ul>
    </div>

</main>